<template>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="">{{ title }}</h2>
            <hr>
            <div v-for="(post, index) in posts" :key="index">
                <SinglePost :data="post" :index="index" @delete-post="deleteFromParent" />
                <hr>
            </div>
            <div class="alert alert-warning" role="alert" v-if="isPosts">
                No Post Found !
            </div>
        </div>
    </div>
</template>

<script>
import SinglePost from './SinglePost.vue';
export default {
    props: ['title'],
    data() {
        return {
            posts: [
                { title: 'this is a post one', status: false },
                { title: 'this is a post two', status: true },
                { title: 'this is a post three', status: true },
            ]
        }
    },
    methods: {
        deleteFromParent(data) {
            console.log(data.data.title);
            this.posts.splice(data.index, 1);
        }
    },
    computed:{
        isPosts() {
            console.log('i am mouted');
            return this.posts.length === 0;
        }
    },
    components: {
        SinglePost
    }
}
</script>


