<template>
    <div class="d-flex align-items-center justify-content-between">
        <p>
            {{ data.title }}
        </p>
        <button class="btn btn-sm btn-danger me-1" @click="handleDelete(index,data)">
            <i class="bi bi-trash-fill"></i>
        </button>
    </div>
</template>

<script>
export default {
    emits:['delete-post'],
    props:['data','index'],
    data() {
        return {

        }
    },
    methods:{
        handleDelete(index, data){
            // console.log(data);
            this.$emit('delete-post', {index,data})
        }
    }
}
</script>