<template>
    <div class="row">
        <div class="col-lg-4">
            <div>
                <form v-on:submit.prevent="addTodo">
                    <h2 class="todo-header ">{{ title }}</h2>
                    <div class="">
                        <input type="text" class="form-control" v-model="newTodoName">
                        <span v-if="showValidationMessage" class="fs-7 text-danger d-block">Todo Name is required</span>
                        <button type="submit" class="btn btn-primary mt-3">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <h2 class="todo-header ">{{ title2 }}</h2>
                <hr>
                <div class="alert alert-warning" role="alert" v-if="isTodos">
                    No Todo List Found !
                </div>
                <ul class="list-group list-group-flush pt-3">
                    <li class="list-group-item d-flex justify-content-between" v-for="(todo, index) in todos">
                        {{ index }} : {{ todo.title }}

                        <div>
                            <button v-if="todo.status" class="btn btn-sm btn-success me-1" @click="undoTodo(todo)">
                                <i class="bi bi-check-circle-fill"></i>
                            </button>
                            <button v-else class="btn btn-sm btn-warning me-1" @click="completeTodo(todo)">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" @click="deleteTodo(index)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: 'Add Todo',
            title2: 'Todo List',
            newTodoName: '',
            todos: [],
            showValidationMessage: false
        }
    },
    methods: {
        addTodo() {
            if (!this.newTodoName) {
                this.showValidationMessage = true;
            } else {
                const todo = { title: this.newTodoName, status: false };
                this.todos.push(todo);
                this.showValidationMessage = false;
                this.newTodoName = '';
            }
        },
        undoTodo(todo) {
            todo.status = false;
            console.log(todo);
        },
        completeTodo(todo) {
            todo.status = true;
            console.log(todo);
        },
        deleteTodo(index) {
            console.log(index);
            this.todos.splice(index, 1)
        }
    },
    computed: {
        isTodos() {
            return this.todos.length === 0;
        }
    }

}
</script>

<style scoped>
.todo-header {
    font-style: italic;
}
</style>