<script setup>
import TodoList from './components/TodoList.vue';
import Post from './components/Post.vue';


</script>

<template>
  <div class="container my-5">

    <!-- <TodoList /> -->

    <Post title="Post"/>


  </div>
</template>


<style scoped></style>
